<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Drink Creator</ion-title>
    <ion-title *ngIf="!isNew">Drink Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="close-button"> X </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="drink" class="content-container">
  <ion-grid class="h-100">
    <ion-row class="flex-grow-1">
      <ion-col size="12" size-md="4" class="ion-padding">
        <div class="graphic-container">
          <app-drink-graphic [drink]="drink"></app-drink-graphic>
        </div>
      </ion-col>
      <ion-col size="12" size-md="8" class="ion-padding">
        <form (ngSubmit)="logForm()">
          <ion-item>
            <ion-label>Drink Title:</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="drink.title"
              name="title"
            ></ion-input>
          </ion-item>
          <table>
            <thead>
              <tr>
                <th>Ingredient Name</th>
                <th>Number of Parts</th>
                <th>Color</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let ingredient of drink.recipe;
                  let i = index;
                  trackBy: customTrackBy
                "
              >
                <td>
                  <ion-input
                    [(ngModel)]="drink.recipe[i].name"
                    [name]="'Ingredient Title' + i"
                  ></ion-input>
                </td>
                <td>
                  <ion-input
                    type="number"
                    [(ngModel)]="drink.recipe[i].parts"
                    [name]="'Ingredient Parts' + i"
                  ></ion-input>
                </td>
                <td>
                  <ion-input
                    type="text"
                    [(ngModel)]="drink.recipe[i].color"
                    [name]="'Ingredient Color' + i"
                  ></ion-input>
                </td>
                <td>
                  <ion-button
                    size="small"
                    color="danger"
                    (click)="removeIngredient(i)"
                    [disabled]="
                      (i == 0 && drink.recipe.length == 1) ||
                      !auth.can('patch:drinks')
                    "
                  >
                    Remove
                  </ion-button>
                  <ion-button
                    size="small"
                    color="primary"
                    (click)="addIngredient(i)"
                    [disabled]="
                      drink.recipe.length == 5 || !auth.can('patch:drinks')
                    "
                  >
                    ADD
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12" class="ion-padding">
        <div class="ion-padding ion-text-center">
          <div class="ion-justify-content-between ion-align-items-center">
            <div>
              <ion-button
                color="danger"
                [disabled]="!auth.can('delete:drinks')"
                (click)="deleteClicked()"
              >
                Delete
              </ion-button>
              <ion-button
                color="primary"
                [disabled]="
                  !auth.can('patch:drinks') || !auth.can('post:drinks')
                "
                (click)="saveClicked()"
              >
                Save
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
